{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleAttributePerLine": true,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "printWidth": 80,
  "singleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "parser": "typescript",
  "configPath": ".prettierrc",
  "withNodeModules": true,
  "requireConfig": true
}